
.question, .answer, .avgtime, .rate, .recentdate, .nextdate, .reviews {
    cursor:pointer;
}

td.reviews, td.avgtime, td.recentdate, td.nextdate {
    text-align:center;
}

td.rate {
    text-align:right;
}

#cardTable td, #cardTable th {
    padding-left:10px;
    padding-right:10px;
    font-size:10pt;
}

#cardTable th {
    background-color:#EEEEEE;
}
