#cardTable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width:820px;
}
#cardTable table {
    table-layout: fixed;
}
#cardTable td.question {
    text-align: right;
    width: 200px;
}
#cardTable td.answer {
    text-align: left;
    width: 200px;
}
#cardTable td.separator {
    text-align: center;
    width: 10px;
}
#firstHalfTableCards {
    float:left;
    width:410px;
}
#secondHalfTableCards {
    float:right;
    width:410px;
}
#button {
    margin-top:100px;
}
#newCardsTitle, #recentlyMissedTitle {
    font-size:20pt;
    margin-top:50px;
}
#newCardsDiv, #recentlyMissedCardsDiv {
    margin-top:50px;
}
#recentlyMissedCardsDiv {
    position:relative;
    top:40px;
}
