#cardTable {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
	margin-bottom: 10px;
    width:60%;
}
#cardTable table {
	/*margin-bottom: 50px;*/
}
#cardTable td.question {
    text-align: right;
    width: 25%;
}
#cardTable td.answer {
    text-align: left;
    width: 25%;
}
#cardTable td.separator {
    text-align: center;
    width: .2%;
}
#firstHalfTableCards, #secondHalfTableCards {
	float: left;
    width:50%;
}
#clear {
	clear: both;
}
/*
#secondHalfTableCards {
    float:right;
    width:50%;
}
*/
#button {
    margin-left:auto;
    margin-right:auto;
}
#newCardsTitle, #recentlyMissedTitle {
    font-size:20pt;
    margin-top:50px;
}
#newCardsDiv, #recentlyMissedCardsDiv {
    margin-top:50px;
}
#recentlyMissedCardsDiv {
	margin-bottom: 50px;
}
