#title {
	margin-left: auto;
	margin-right: auto;
	display: table;
	text-align: center;
    letter-spacing: -5px;
}

html {
	height: 100%;
	min-height: 100%;
	width: 100%;
}

body {
	text-align: center;
	height: 100%;
	min-height: 100%;
	width: 100%;
}

.display {
	width: 400px;
	height: 120px;
	border: outset;
	border-width: 5px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.centereddisplay {
	display: table-cell;
	vertical-align: middle;
}

#question {
	position: relative;
	font-size: 20pt;
	background-color: #FFFF66;
}

#answer {
	position: relative;
	font-size: 12pt;
	top: 20px;
}

.hiddenAnswer {
	background-color: white;
	font-family: sans-serif;
	font-size: small;
}

.visibleAnswer {
	background-color: #FFFF66;
	font-family: serif;
	font-size: large;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.doneMessage {
	font: x-large;
}

#response {
	position: relative;
	top: 40px;
}

#prompt {
	visible: visible;
	height: 25px;
}

#ad {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: xx-small;
    padding-top: 20px;
}

.choice {
    cursor : pointer;
    font-size : 16pt;
    margin-right : 15px;
    padding-right : 15px;
    padding-left : 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#multiplechoice {
    margin : auto;
    border : 5px outset;
}

#multiplechoice td {
/*    padding : 5px; */
    border : 1px hidden;
}

#multiplechoice tr {
    padding : 5px;
}

.keylabel {
    text-align : center;
    font-size : 8pt;
    color : grey;
}

#multiplechoice .highlitrow {
	background-color: #FFFF66;
    border : 1px solid grey;
}

#multiplechoice .confirmedCorrectChoice {
	background-color: green;
}

#multiplechoice .confirmedWrongChoice {
	background-color: red;
}

#reason {
    font-size: 10pt;
}
